<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>File System</title>
</head>
<body>
    <center>
    <% if (locals.fileLink != null) { %>
        <div style="margin-bottom: 1rem;">
            Your file is upload.
            <a href="<%= locals.fileLink %>">Download</a>
        </div>   
    <% } %>
    <a href="/">
        <button>
            Return to homepage
        </button>
    </a>
</center>
</body>
</html>